body
{
    background:url(../images/bg.png) repeat-x #FFFFFF; 
    font-size:12px;	
    font-family:'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif; 
    color:#333;
}

.header .logo img,
.header .logo a
{
    display:block;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.header ul
{
    padding: 2px 0 2px 0;
    margin: 0;
    list-style-type: none;
}

.header ul li
{
    display:block;
    border: 1px solid #8F0000;
    float:left;
    margin:1px;
    
    border-bottom: 1px solid #8F0000;
    background-color: #8F0000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8F0000), to(Red));
    background-image: -webkit-linear-gradient(top, Red, #8F0000);
    background-image:    -moz-linear-gradient(top, Red, #8F0000);
    background-image:     -ms-linear-gradient(top, Red, #8F0000);
    background-image:      -o-linear-gradient(top, Red, #8F0000); 
    background-image:         linear-gradient(top, Red, #8F0000);
}

.header ul li a
{
    padding:3px;
    margin:1px;
    color: White;
    text-align:center;
    font-weight:bold;
    font-size: 1.5em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-decoration:none;
}

.clearer
{
    clear:both;
}